<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet">
                            <!------------FUENTES--------------->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <title>Calculadora</title>
  </head>
  <body>
      <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Calculadora</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" id="suma" aria-current="page">Suma</a>
                  <a class="nav-link" id="resta">Resta</a>
                  <a class="nav-link" id="division">Division</a>
                  <a class="nav-link" id="multiplicacion">Multiplicacion</a>
                </div>
              </div>
            </div>
          </nav>
      </header>
      <div class="text-center">
        <h1>CALCUNAITOR</h1>
      </div>
      <section class="container">
          <form class="col p-5 inputs" method="get" name="calculadora" action="">
              <div class="mb-3">
                <input type="number" class="form-control" id="number1" name="number1" placeholder="Ingresa tu primer valor" required="true" size="80" value="">
              </div>
              <div class="mb-3">
                <input type="number" class="form-control" id="number2" name="number2" placeholder="Ingresa tu segundo valor" required="true" size="80" value="">
              </div>
              <button id="button" type="submit" class="btn btn-primary">Calcular</button>
              <br><br>
              <div><p id="result"></p></div>
          </form>
          
          
      </section>

    <script src="node_modules/popper.js/dist/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>